<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/Template.css">
    <link rel="stylesheet" href="/public/css/PersonalPage.css">
    <link rel="stylesheet" href="/public/css/Player.css">
    <link rel="shortcut icon" href="/public/icon/Friends_active.svg" type="image/x-icon">
    <style>    
        .activeblock{
            position: absolute;
            width: 35px;
            height: 150px;
            left: 90px;
            top: 295px;
            z-index: 1;
        }
        .activeblock_right{
            position: absolute;
            width: 0px;
            height: 150px;
            left: 0px;
            top: 130px;
            z-index: 1;
        }
    </style>
    <title>Friends</title>
</head>
<body>
    <main class="flex_Page">
        <div class="Menu_container">
            <nav class="Menu">
                <div class="hidden"></div>
                <img src="/public/icon/Home_active.svg" alt="Error" class="Home_img">
                <img src="/public/icon/News_active.svg" alt="Error" class="News_img">
                <img src="/public/icon/Posts_active.svg" alt="Error" class="Posts_img" >
                <img src="/public/icon/Friends_active.svg" alt="Error" class="Friends_img" id="active">
                <img src="/public/icon/Photos_active.svg" alt="Error" class="Photos_img" >
                <img src="/public/icon/Videos_active.svg" alt="Error" class="Videos_img">
                <img src="/public/icon/Arrow_Right.svg" alt="Error" class="slide_menu">
                <img src="/public/icon/ActiveBlock.png" alt="Error" class="activeblock">
            </nav>
        </div>
        <div class="Container">
            <div class="leftPart">
                <div class="avatarContainer">
                    <%-Person.avatar%>
                </div>
                <div class="ListAll">
                    <% if (Person.friends.length != 0) { %>
                        <div class="ListFPV">
                            <div>Friends</div>
                            <div class="ListContainer">
                                <% Person.friends.forEach(function(fr){%>
                                    <a href="/modules/PersonalPage/<%-fr.login%>">
                                        <figure>
                                            <%-fr.avatar%>
                                            <figcaption><%-fr.login%></figcaption>
                                        </figure>
                                    </a>
                                <%});%>
                            </div>
                        </div>
                    <% } %>

                    <% if (Person.Photos.length != 0) { %>
                        <div class="ListFPV" onclick="OpenPhoto()">
                            <div>Photos</div>
                            <div class="ListContainer">
                                <% Person.Photos.forEach(function(buf){%>
                                    <img src="<%-buf.photo%>" height="40vw" style="border-radius: 7px;">
                                <%});%>
                            </div>
                        </div>
                    <% } %>

                    <% if (Person.Videos.length != 0) { %>
                        <div class="ListFPV" onclick="OpenVideo()">
                            <div>Videos</div>
                            <div class="ListContainer">
                                <% Person.Videos.forEach(function(buf){%>
                                    <video src="<%-buf.video%>" height="40vw" style="border-radius: 7px;"></video>
                                <%});%>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="rightPart">
                <div class="titleContainer">
                    <div style="font-family: Roboto; font-size: 24pt; font-weight: bold;"><%=Person.login%></div>
                    <div style="padding-top: 10px; padding-bottom: 10px;">
                        <hr color="black" size="2px" class="News_Line" width="2000px" >
                    </div>
                    <div class="PI">
                        <div class="Show">Show personal information<div class="Showicon"></div></div>
                        <%-PI%>
                    </div>
                    <div style="padding-top: 10px; padding-bottom: 10px;">
                        <hr color="black" size="2px" class="News_Line" width="2000px" >
                    </div>
                    <div class="Statis">
                        <div class="FrNum" onclick="OpenFriend()"><%=Person.FriendsNum%><br>Friends</div>
                        <div class="PhNum" onclick="OpenPhoto()"><%=Person.PhotosNum%><br>Photos</div>
                        <div class="ViNum" onclick="OpenVideo()"><%=Person.VideosNum%><br>Videos</div>
                        <div class="PoNum"><%=Person.PostsNum%><br>Posts</div>
                    </div>
                </div>
                <div class="Posts">
                    <% if (Posts.length != 0) { %>
                        <% Posts.forEach(function(el){ %>
                            <div class="Post" value="<%-el.date%>">
                                <div class="Union_text_arrow">
                                    <div>
                                        <div class="News_Text"><%-el.content%></div>
                                    </div>
                                </div>
                                <div style="padding-top: 5px; padding-bottom: 10px;">
                                    <hr color="black" size="1px" class="News_Line" width="2000px" >
                                </div>
                                <div class="News_Footer">
                                    <div style="display: flex; align-items: center; ">
                                        <%-el.avatar%>
                                        <div class="Name_Avatar"><%-el.login%></div>
                                    </div>
                                    <div style="display: flex; justify-content: center; align-items: center;"><div class="date"><%- new Date(el.date).toLocaleTimeString().slice(0,-3) %><br><%- new Date(el.date).toLocaleString().slice(0,10) %></div><div class="<%-el.classLike%>" onclick="Like(this)"></div><div class="LikesNum"><%-el.likes%></div></div>
                                </div>
                            </div>
                        <% }); %>
                      <% } %>
                </div>
                
            </div>
        </div>   
        <div class="Personal_Menu_container">
            <nav class="Personal_Menu">
                <%-avatar%>
                <img src="/public/icon/Plus.svg" alt="Error" class="Add_News" >
                <img src="/public/icon/Setting.svg" alt="Error" class="Setting_img">
                <img src="/public/icon/LogOut.svg" alt="Error" class="LogOut_img">
                <img src="/public/icon/Arrow_Right.svg" alt="Error" class="slide_menu_right">
                <img src="/public/icon/ActiveBlock_right.png" alt="Error" class="activeblock_right">
            </nav>
        </div>
        <div class="flex_line">
            <div class="Menu_button">
                <img src="/public/icon/Menu.svg" alt="Error" class="Menu_img">
            </div>
            <div class="Personal_Menu_button">
                <%-avatar2%>
            </div>
        </div>
    </main>
    <script src="/public/javascript/Menu_Animation.js"></script>
    <script src="/public/javascript/PersonalPage.js"></script>
    <script src="/public/javascript/Player.js"></script>
</body>
</html>